POSTGRES_IMAGE=swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/pgvector/pgvector:pg17
REDIS_IMAGE=docker.m.daocloud.io/library/redis:7-alpine
NGINX_IMAGE=docker.m.daocloud.io/library/nginx:1.27-alpine
MAXKB_HTTP_PORT=18080
NODE_IMAGE=docker.m.daocloud.io/library/node:24-alpine
PYTHON_IMAGE=docker.m.daocloud.io/library/python:3.11-slim-bookworm
NPM_REGISTRY=https://registry.npmmirror.com
PIP_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple
APT_MIRROR=deb.debian.org

MAXKB_CONFIG_TYPE=ENV

MAXKB_DB_NAME=maxkb
MAXKB_DB_HOST=postgres
MAXKB_DB_PORT=5432
MAXKB_DB_USER=maxkb
MAXKB_DB_PASSWORD=change_me_db_password
MAXKB_DB_ENGINE=dj_db_conn_pool.backends.postgresql
MAXKB_DB_MAX_OVERFLOW=80

MAXKB_REDIS_HOST=redis
MAXKB_REDIS_PORT=6379
MAXKB_REDIS_PASSWORD=change_me_redis_password
MAXKB_REDIS_DB=0
MAXKB_REDIS_MAX_CONNECTIONS=100

MAXKB_SECRET_KEY=change_me_django_secret_key
MAXKB_HMAC_SIGNED_SERIALIZER_SECRET_KEY=change_me_hmac_secret_key

MAXKB_DEBUG=False
MAXKB_LANGUAGE_CODE=zh-CN
MAXKB_TIME_ZONE=Asia/Shanghai
MAXKB_ADMIN_PATH=/admin

MAXKB_LOCAL_MODEL_HOST=127.0.0.1
MAXKB_LOCAL_MODEL_PORT=11636
MAXKB_LOCAL_MODEL_PROTOCOL=http
MAXKB_LOCAL_MODEL_HOST_WORKER=1
